:root {
  /**
   * https://getbootstrap.com/docs/4.0/utilities/colors/
   */
  --primaryColor: rgb(0, 123, 255);
  --secondaryColor: rgb(108, 117, 125);
  --successColor: rgb(40, 167, 69);
  --errorColor: rgb(220, 53, 69);
  --warningColor: rgb(255, 193, 7);
  --inforColor: rgb(23, 162, 184);
  --darkColor: rgb(52, 58, 64);
  --lightColor: rgb(52, 58, 64);
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

b {
  font-weight: 600 !important;
}
